@model u_market.Models.AddUser

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/register.css" />

<div id="register-container">
    
    <div id="register-form">
        <h1>Create your Account</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="RegisterUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">User name</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
                @if (ViewBag.Error != null)
                {
                    <div class="text-danger">@ViewBag.Error</div>
                }
            </div>
        </div>

        <div id="login">
            Already registered? <a asp-action="Login">Click here</a> to login
        </div>
    </div>
    <div id="icon-and-sentence">
        <i class="far fa-user-circle fa-10x"></i>
        <h4>1 minute registeration,</h4>
        <h3>shopping whenever you want.</h3>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
