
@{
    ViewData["Title"] = "Info";
    Layout = "_Layout";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/lodash/lodash.min.js"></script>

<link rel="stylesheet" href="~/css/info.css" />

<body>
    <h1 class="page-title">U_Market Info</h1>
    <div class="info-container">
        <div class="use-explanation">
            Hello! Welcome to the newest, most advanced whilst easy to use online shop!
            This site offers you several amazing features such as buying products from any store in the world, sharing products on Facebook, watch the stores locations on google maps, setting up your own store and products and so on...
            We invite you to take part in the world wide phenomenon and be a part of the online shopping revolution!
            Feel free to watch the video to get a better feel of the site. Enjoy!
        </div>
        <video width="900" height="400" controls>
            <source src="~/assets/videos/exp.mp4" type="video/mp4">
        </video>
    </div>
</body>