@model u_market.Models.Store

@{
    ViewData["Title"] = "Stores";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/products.css" />
<link rel="stylesheet" href="~/css/store.css" />

<div class="header row">
    <h1 class="col-8">store managment</h1>
    @if (User.IsInRole("Admin"))
    {<div class="col-4">
            <div class="row">
                <span class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="map-switch">
                    <i class="fas fa-map-marked"></i>
                </span>
            </div>
        </div>}
</div>
@if (User.IsInRole("Admin"))
{
    <input type="text" class="form-control" placeholder="Search by first name, last name, address, shop name" id="search" />
}
<div class="stores-table-container">
    <table id="storesTable" class="table table-dark table-striped table-hover stores-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">name</th>
                <th scope="col">owner</th>
                <th scope="col">address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="storesTableBody">
            <tr>
                <td colspan="100%" class="add-store-row" onclick="openAddStoreModal()">
                    <i class="fas fa-plus"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="selectedStoreContainer">
        <label id="selectedStoreName"></label>
        <input id="search-product" placeholder="Search products by name or description" class="form-control" type="search" />
        <button class="btn btn-primary" id="goBack">Back to store view</button>
        <table id="productsTable" class="table table-dark table-striped table-hover products-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">price</th>
                    <th scope="col">description</th>
                    <th scope="col">image</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="productsTableBody">
            </tbody>
        </table>
    </div>
</div>

<div id="map-container">

</div>

<!-- Store Modal-->
<div class="modal fade" id="storeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="store-modal-title">Create Store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="storeName" class="form-label">Store Name</label>
                    <input type="text" class="form-control" id="storeName" />
                </div>
                <div class="mb-3">
                    <label id="ownerLabel" for="owner" class="form-label">Owner Name</label>
                    <input type="text" disabled class="form-control" id="owner" />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control address-input" id="address" />
                </div>
            </div>
            <label class="error"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                <button id="submitStore" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Product Modal-->
<div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" />
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Product Price</label>
                    <input type="number" class="form-control" id="productPrice" />
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productDescription" />
                </div>
                <div class="mb-3">
                    <label for="productImageUrl" class="form-label">Image URL</label>
                    <input type="url" class="form-control" id="productImageUrl" oninput="setProductImage()" />
                    <br/>
                    <img id="productImage" class="product-image"/>
                </div>
            </div>
            <label class="error"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                <br/>
                <button id="submitProduct" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/js/store.js"></script>
}