<link rel="stylesheet" href="~/css/statistics.css" />

<h1>Statistics</h1>
<div id="productAmountGraphContainer"></div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="~/js/statistics.js"></script>
