@{
    ViewData["Title"] = "Users Management";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/user-management.css" />
</head>

<h1 class="page-title">Users Management</h1>

<input type="text" class="form-control" placeholder="Search by first name, last name" id="search" />
<div class="user-management-container">
    <table class="table table-dark table-striped table-hover users-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="usersTableBody"></tbody>
    </table>
</div>

<!-- Modal-->
<div class="modal fade" id="editUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" disabled class="form-control" id="username" />
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" />
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" />
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select type="" class="form-control" id="role">
                        <option value="0">Admin</option>
                        <option value="1">Client</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                <button id="submit" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/js/user-management.js"></script>
}