.main-appbar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 72px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sign-in {
    left: 20px;
}
.logo {
    font-weight: bold;
    font-size: 36pt;
    color: white;
    margin: -5px 0px 0px 15px;
    font-weight: bold;
}
.sidebar {
    width: 120px;
    left: 0;
    bottom:0;
    top: 72px;
    height: calc(100vh - 72px);
    background-color:lightgray;
}
.page-container {
    display: flex;
    flex-direction: row;
}
body {
    overflow-y: hidden;
    max-height:100%;
}
.sidebar-item {
    font-size: 30pt;
    padding: 20px;
    color: white;
}