@font-face {
    font-family: pageHeadlineFont;
    font-weight: bold;
    font-style: italic;
}

.page-title {
    font-family: pageHeadlineFont;
}

.main-appbar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 72px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.sign-in {
    left: 20px;
}
.sidebar {
    width: 120px;
    left: 0;
    bottom: 0;
    top: 72px;
    height: calc(100vh - 72px);
    background-color: black;
}
.page-container {
    display: flex;
    flex-direction: row;
}
body {
    overflow-y: hidden;
    max-height:100%;
}
.sidebar-item {
    font-size: 30pt;
    padding: 20px;
    color: white;
}

.page-body {
    width: 100%;
    padding: 15px
}

.greeting {
    color: white
}