.cards {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 70%;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    height: 425px;
    width: 200px;
    margin: 15px;
}

.image-container {
    height: 135px;
}

.product-desc {
    height: 72px;
}
.price-line {
    display: flex; 
    justify-content: space-between;
}

.input-group {
    margin-top: 5px;
}

.input-group label {
    padding: 5px;
}