.header {
    display: flex;
    flex-direction: row;
}

.purchase-table {
    margin-top: 20px;
}

.purchase-table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
    height: 80%;
    overflow-y: scroll;
}

.input-group label {
    padding: 5px;
}