.header {
    display: flex;
    flex-direction: row;
}

.product-image {
    height: 60px;
    width: 60px;
}

.products-table {
    margin-top: 20px;
    overflow-y: auto;
}

.products-table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
    height: 80%;
}

.fa-pen, .fa-trash {
    cursor: pointer;
}

.fa-pen:hover, .fa-trash:hover {
    color: gray;
    transform: rotate(360deg);
    transition: transform 2s;
}

#storesTableBody tr {
    cursor: pointer;
}

.add-store-row {
    text-align: center;
}

#storesTableBody tr:hover {
    color: orangered;
}

.add-store-row:hover {
    color: gray;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.error {
    color: red;
}