.header {
    display: flex;
    flex-direction: row;
}

.product-image {
    height: 40px;
    width: 40px;
}

.products-table, .stores-table {
    margin-top: 20px;
    overflow-y: auto;
}

#map-container {
    width: 75%;
    height: 80%;
}

.stores-table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
    height: 80%;
}

#selectedStoreContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    height: 80%;
}


.hidden-stores-table {
    display: none;
    height: 0;
}

.fa-pen, .fa-trash, fa-plus {
    cursor: pointer;
}

.fa-pen:hover, .fa-trash:hover {
    color: gray;
    transform: rotate(360deg);
    transition: transform 2s;
}

#storesTableBody tr {
    cursor: pointer;
}

.add-store-row, .add-product-row {
    text-align: center;
}

#storesTableBody tr:hover {
    color: orangered;
}

.add-store-row:hover, .add-product-row:hover {
    color: gray;
    cursor: pointer;
}

.product-tags {
    max-height: 102px;
}

@font-face {
    font-family: storeNameFont;
    font-weight: bold;
    font-style: italic;
}

#selectedStoreName {
    font-size: 40px;
    align-self: center;
    text-shadow: 2px 2px rgba(33, 37, 41, 0.38);
    font-family: storeNameFont;
}

.go-back-container {
    align-self: center;
}

#goBack {
    border-radius: 100%;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.error {
    color: red;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}