<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - u_market</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body>
        <!-- Top navigation-->
        <div class="main-appbar">
            <div class="logo">
                u_market
            </div>
            <div>
                <a title="logout" data-bs-toggle="tooltip" asp-controller="UsersManagement" asp-action="Index">
                    <i class="fas fa-user sidebar-item"></i>
                </a>
                <a title="logout" data-bs-toggle="tooltip" asp-controller="Users" asp-action="Logout">
                    <i class="fas fa-sign-out-alt sidebar-item"></i>
                </a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div class="page-container">
            <!-- Sidebar-->
            <div class="sidebar">
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link border-bottom" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-store sidebar-item"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom" title="statistics" data-bs-toggle="tooltip" data-bs-placement="right" asp-controller="Home" asp-action="Privacy">
                            <i class="fas fa-chart-line sidebar-item"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom" title="mange stores" data-bs-toggle="tooltip" data-bs-placement="right" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-warehouse sidebar-item"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom" title="manage users" data-bs-toggle="tooltip" data-bs-placement="right" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-users sidebar-item"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Page content-->
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
        </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
